# Data Preprocessing

In [14]:
# -------------------------------------------------------------------------------
# import packages
import pandas as pd 
import numpy as np

## Load and Process Data

In [15]:
# load dataset
hiring_data =  pd.read_csv('data/recruitmentdataset-2022-1.3.csv')

# ----------------------------------------------------
# gender numeric column
hiring_data['gender'] = hiring_data['gender'].replace({'male': 0, 'female': 1, 'other': 2})
hiring_data['gender'] = hiring_data['gender'].astype(int)

# drop gender 2 (other)
hiring_data = hiring_data[hiring_data['gender'] != 2]

# convert object (string) columns to categorical
hiring_data = hiring_data.astype({col: 'category' for col in hiring_data.select_dtypes(include='object').columns})

# Find object (string) and categorical columns
non_numeric_cols = hiring_data.select_dtypes(include=['object', 'category']).columns

# numeric columns
for col in non_numeric_cols:
    hiring_data[col] = hiring_data[col].astype('category').cat.codes
hiring_data[non_numeric_cols] = hiring_data[non_numeric_cols].astype(int)

# Convert all boolean columns to binary (0 and 1)
hiring_data = hiring_data.astype({col: 'int' for col in hiring_data.select_dtypes(include='bool').columns})

/var/folders/0t/kqk1ph5n4ds0_g7v6gyknwdh0000gn/T/ipykernel_4584/2396384775.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hiring_data['gender'] = hiring_data['gender'].replace({'male': 0, 'female': 1, 'other': 2})

In [16]:
hiring_data['gender'].value_counts()

gender
0    2127
1    1790
Name: count, dtype: int64

## Other data (maybe delete)

In [17]:
hiring_data2 = pd.read_csv('data/recruitment_data.csv')
hiring_data2['Gender'].value_counts()

gender_matrix = pd.crosstab(hiring_data2['Gender'], hiring_data['decision'])
gender_matrix

decision    0    1
Gender
0         472  274
1         437  291