# Data Preprocessing

In [36]:
# -------------------------------------------------------------------------------
# import packages
import pandas as pd 
import numpy as np

## Load and Process Data

In [40]:
# load dataset
hiring_data =  pd.read_csv('data/recruitmentdataset-2022-1.3.csv')

# ----------------------------------------------------

# convert object (string) columns to categorical
hiring_data = hiring_data.astype({col: 'category' for col in hiring_data.select_dtypes(include='object').columns})

# Find object (string) and categorical columns
non_numeric_cols = hiring_data.select_dtypes(include=['object', 'category']).columns
print(non_numeric_cols)

hiring_data

Index(['Id', 'gender', 'nationality', 'sport', 'ind-degree', 'company'], dtype='object')

,Id,gender,age,nationality,sport,ind-university_grade,ind-debateclub,ind-programming_exp,ind-international_exp,ind-entrepeneur_exp,ind-languages,ind-exact_study,ind-degree,company,decision
0,x8011e,female,24,German,Swimming,70,False,False,False,False,1,True,phd,A,True
1,x6077a,male,26,German,Golf,67,False,True,False,False,2,True,bachelor,A,False
2,x6006e,female,23,Dutch,Running,67,False,True,True,False,0,True,master,A,False
3,x2173b,male,24,Dutch,Cricket,70,False,True,False,False,1,True,master,A,True
4,x6241a,female,26,German,Golf,59,False,False,False,False,1,False,master,A,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,x7640e,female,28,Dutch,Running,63,False,False,False,False,0,False,master,D,False
3996,x3310f,female,27,Dutch,Tennis,62,False,False,False,True,2,True,bachelor,D,False
3997,x1202g,male,24,Belgian,Rugby,60,True,False,False,True,2,False,bachelor,D,False
3998,x1263d,female,22,Dutch,Tennis,66,False,True,False,False,1,True,bachelor,D,False
3999,x2396a,male,28,Dutch,Football,58,False,False,False,False,1,False,bachelor,D,False

In [38]:
for col in non_numeric_cols:
    hiring_data[col] = hiring_data[col].astype('category').cat.codes
hiring_data[non_numeric_cols] = hiring_data[non_numeric_cols].astype(int)

# Convert all boolean columns to binary (0 and 1)
hiring_data = hiring_data.astype({col: 'int' for col in hiring_data.select_dtypes(include='bool').columns})

In [39]:
# type of columns
hiring_data

,Id,gender,age,nationality,sport,ind-university_grade,ind-debateclub,ind-programming_exp,ind-international_exp,ind-entrepeneur_exp,ind-languages,ind-exact_study,ind-degree,company,decision
0,3130,0,24,2,6,70,0,0,0,0,1,1,2,0,1
1,2229,1,26,2,3,67,0,1,0,0,2,1,0,0,0
2,2197,0,23,1,5,67,0,1,1,0,0,1,1,0,0
3,505,1,24,1,1,70,0,1,0,0,1,1,1,0,1
4,2311,0,26,2,3,59,0,0,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,2956,0,28,1,5,63,0,0,0,0,0,0,1,3,0
3996,1012,0,27,1,7,62,0,0,0,1,2,1,0,3,0
3997,78,1,24,0,4,60,1,0,0,1,2,0,0,3,0
3998,101,0,22,1,7,66,0,1,0,0,1,1,0,3,0
3999,601,1,28,1,2,58,0,0,0,0,1,0,0,3,0

In [41]:
hiring_data['age'].value_counts()

age
28    555
26    552
27    534
25    412
24    408
30    289
29    279
22    256
21    254
23    229
32    128
31    104
Name: count, dtype: int64

In [46]:
hiring_data2 = pd.read_csv('data/recruitment_data.csv')
hiring_data2['Gender'].value_counts()

gender_matrix = pd.crosstab(hiring_data2['Gender'], hiring_data['decision'])
gender_matrix

decision  False  True
Gender
0           483    279
1           444    294