# Data Preprocessing

In [26]:
# -------------------------------------------------------------------------------
# import packages
import pandas as pd 
import numpy as np

## Load and Process Data

In [27]:
# load dataset
hiring_data =  pd.read_csv('data/recruitmentdataset-2022-1.3.csv')

# ----------------------------------------------------
# gender numeric column
hiring_data['gender'] = hiring_data['gender'].replace({'male': 0, 'female': 1, 'other': 2})
hiring_data['gender'] = hiring_data['gender'].astype(int)

# drop gender 2 (other)
hiring_data = hiring_data[hiring_data['gender'] != 2]

# convert object (string) columns to categorical
hiring_data = hiring_data.astype({col: 'category' for col in hiring_data.select_dtypes(include='object').columns})

# Find object (string) and categorical columns
non_numeric_cols = hiring_data.select_dtypes(include=['object', 'category']).columns

# numeric columns
for col in non_numeric_cols:
    hiring_data[col] = hiring_data[col].astype('category').cat.codes
hiring_data[non_numeric_cols] = hiring_data[non_numeric_cols].astype(int)

# Convert all boolean columns to binary (0 and 1)
hiring_data = hiring_data.astype({col: 'int' for col in hiring_data.select_dtypes(include='bool').columns})

/var/folders/0t/kqk1ph5n4ds0_g7v6gyknwdh0000gn/T/ipykernel_22864/2396384775.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hiring_data['gender'] = hiring_data['gender'].replace({'male': 0, 'female': 1, 'other': 2})

In [28]:
hiring_data['gender'].value_counts()

gender
0    2127
1    1790
Name: count, dtype: int64

In [29]:
hiring_data

,Id,gender,age,nationality,sport,ind-university_grade,ind-debateclub,ind-programming_exp,ind-international_exp,ind-entrepeneur_exp,ind-languages,ind-exact_study,ind-degree,company,decision
0,3060,1,24,2,6,70,0,0,0,0,1,1,2,0,1
1,2169,0,26,2,3,67,0,1,0,0,2,1,0,0,0
2,2137,1,23,1,5,67,0,1,1,0,0,1,1,0,0
3,493,0,24,1,1,70,0,1,0,0,1,1,1,0,1
4,2250,1,26,2,3,59,0,0,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,2886,1,28,1,5,63,0,0,0,0,0,0,1,3,0
3996,982,1,27,1,7,62,0,0,0,1,2,1,0,3,0
3997,74,0,24,0,4,60,1,0,0,1,2,0,0,3,0
3998,97,1,22,1,7,66,0,1,0,0,1,1,0,3,0
3999,585,0,28,1,2,58,0,0,0,0,1,0,0,3,0

## Other data (maybe delete)

In [30]:
import functions.fairness_testing as fairness

In [31]:
hiring_data2 = pd.read_csv('data/recruitment_data.csv')
hiring_data2['Gender'].value_counts()

gender_matrix = pd.crosstab(hiring_data2['Gender'], hiring_data2['HiringDecision'])
gender_matrix

HiringDecision    0    1
Gender
0               525  237
1               510  228

## Other dataset

In [32]:
hiring_data3 = pd.read_csv("data/2025-fairness-recruitment-dataset.csv")

In [38]:
# print all columns names
hiring_data3.columns

Index(['mainid(hidden)', 'mod15(hidden)', 'div15(hidden)',
       'Age(feature, sensitive))', 'Speed(hidden)', 'gender',
       'Strength(hidden)', 'Speedtest(hidden)', 'Lifttest(hidden)',
       'testresult(feature)', 'livesnear(feature)', 'Suitability(target)',
       'Value-when-hired(hidden)', 'Candidate-loss-when-nothired(hidden)',
       'Should-hire(target)', 'Shouldnothire', 'hired-by-expert',
       'A1(testresult)', 'A2(testresult,30under)', 'A3(Age,Gender, test)',
       'A4(postive-dicr)'],
      dtype='object')

In [34]:


# gender numeric column
hiring_data3['Gender(feature,sensitive)'] = hiring_data3['Gender(feature,sensitive)'].replace({'male': 0, 'female': 1})
hiring_data3['Gender(feature,sensitive)'] = hiring_data3['Gender(feature,sensitive)'].astype(int)

# rename as gender
hiring_data3 = hiring_data3.rename(columns={'Gender(feature,sensitive)': 'gender'})

# convert object (string) columns to categorical
hiring_data3 = hiring_data3.astype({col: 'category' for col in hiring_data3.select_dtypes(include='object').columns})

# Find object (string) and categorical columns
non_numeric_cols = hiring_data3.select_dtypes(include=['object', 'category']).columns

# numeric columns
for col in non_numeric_cols:
    hiring_data3[col] = hiring_data3[col].astype('category').cat.codes
hiring_data3[non_numeric_cols] = hiring_data3[non_numeric_cols].astype(int)

# Convert all boolean columns to binary (0 and 1)
hiring_data3 = hiring_data3.astype({col: 'int' for col in hiring_data3.select_dtypes(include='bool').columns})

/var/folders/0t/kqk1ph5n4ds0_g7v6gyknwdh0000gn/T/ipykernel_22864/1535241967.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hiring_data3['Gender(feature,sensitive)'] = hiring_data3['Gender(feature,sensitive)'].replace({'male': 0, 'female': 1})

In [37]:
gender_matrix = pd.crosstab(hiring_data3['gender'], hiring_data3['Should-hire(target)'])
gender_matrix

Should-hire(target)   0   1
gender
0                    90  60
1                    60  15